.program-audience {
    @extend .container-md;
    @extend %section-margin;

    & .section-title {
        max-width: 22em;
        @extend .mx-auto;
    }

    & .swiper-slide {
        display: flex;

        @include media-breakpoint-up(sm) {
            @include slide-size(2, 1rem);
        }

        @include media-breakpoint-up(md) {
            @include slide-size(2, 1.5rem);
        }

        @include media-breakpoint-up(lg) {
            @include slide-size(3, 1rem);
        }

        @include media-breakpoint-up(xl) {
            @include slide-size(3, 1.5rem);
        }

        @include media-breakpoint-up(xxl) {
            @include slide-size(3, 2rem);
        }
    }
}

.audience-card {
    @extend .card;
    border: 1px solid $gray-500;
    line-height: 1.4;
    user-select: none;
    @extend .mx-auto;

    & .card-image {
        @include flex();
        aspect-ratio: 6 / 4;
        margin-bottom: 1.5rem;

        & img {
            max-height: 100%;
        }
    }

    & .card-title {
        font-weight: $font-weight-semibold;
    }

    & .card-text {
        font-weight: $font-weight-light;
        font-size: $font-size-sm;
        margin-top: 1rem;
    }

    @include media-breakpoint-up(xxl) {
        & .card-body {
            padding: 2rem 1.75rem;
        }
    }

    @include media-breakpoint-down(md) {
        max-width: $card-max-width;
    }
}
