.program-teachers {
    @extend .container-md;
    @extend %section-margin;

    & .swiper-slide {
        display: flex;

        @include media-breakpoint-up(sm) {
            @include slide-size(2, 1rem);
        }

        @include media-breakpoint-up(md) {
            @include slide-size(2, 1.5rem);
        }

        @include media-breakpoint-up(lg) {
            @include slide-size(3, 1.5rem);
        }

        @include media-breakpoint-up(xl) {
            @include slide-size(4, 1rem);
        }

        @include media-breakpoint-up(xxl) {
            @include slide-size(4, 1.5rem);
        }
    }
}

.teacher-card {
    @extend .card;
    @extend .mx-auto;

    & .card-image {
        position: relative;
        aspect-ratio: 6 / 4;

        & img {
            @extend .card-img-top;
            @include img-cover(50% 20%);
            position: absolute;
            inset: 0;
        }
    }

    & .card-body {
        padding-top: 1.25rem;
    }

    & .card-title {
        font-size: $font-size-lg;
        font-weight: $font-weight-semibold;
        margin-bottom: .5rem;
    }

    & .card-small {
        font-size: $small-font-size;
        color: $gray-500;
    }

    & .card-text {
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        padding-top: .5rem;
    }

    @include media-breakpoint-down(md) {
        & .card-body {
            @include padding-x(1.25rem);
        }
    }

    @include media-breakpoint-down(sm) {
        max-width: 20rem;
    }
}
