.about-intro {
    @extend %section-grid;
    @include padding-y(2rem);

    & .section-container {
        @extend .container;
    }

    & .section-row {
        @extend .row;
        @extend .gy-4;
        @extend .gy-sm-5;
        align-items: center;
    }

    & .intro-body {
        @extend .col-md-7;
    }

    & .intro-image {
        @extend .col-md-5;

        & img {
            display: block;
            @extend .mx-auto;
        }
    }

    & .about-title {
        @extend .mb-md-4;

        & small {
            display: block;
            font-size: .6em;
            margin-top: .5rem;
        }
    }

    & .about-text {
        font-weight: $font-weight-light;
        max-width: 34em;
    }

    @include media-breakpoint-up(md) {
        @include padding-y(2.5rem);
    }

    @include media-breakpoint-up(xxl) {
        padding-top: 3rem;

        & .about-title {
            font-size: 2.75rem;
        }

        & .about-text {
            font-size: $font-size-lg;
        }
    }

    @include media-breakpoint-down(md) {
        & .intro-image {
            & img {
                width: 20rem;
            }
        }
    }
}
