.quiz-modal {
    & .quiz-intro {
        @extend .quiz-body;
        @extend .bg-transparent;
        justify-content: center;
        align-items: flex-start;

        & .intro-header {
            @extend h2;
            color: $secondary;
            font-weight: $font-weight-semibold;
        }

        & .intro-body {
            font-weight: $font-weight-light;
            margin-bottom: 1rem;
        }

        & .btn {
            @extend .btn-dark;
            min-width: 16rem;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

    & .intro-image {
        flex: 1 0 0%;
        @include flex();
        @include padding-x(2rem);

        @include media-breakpoint-up(lg) {
            flex: 0 0 auto;
            width: 40%;
        }

        @include media-breakpoint-down(lg) {
            & img {
                width: 75%;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        & .quiz-intro {
            & .intro-header {
                font-size: $h1-font-size;
            }

            & .intro-body {
                font-size: $font-size-lg;
            }
        }

        & .intro-image {
            @include padding-x(3rem);
        }
    }
}
