.feature {
    &-section {
        @extend .section-light;

        & .swiper-slide {
            display: flex;
        }
    }

    &-card {
        @extend .card;
        background-color: $white;
        border: 1px solid $gray-500;
        text-align: center;
        line-height: 1.4;
        user-select: none;
        @extend .mx-auto;

        & .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        & .card-title {
            font-weight: $font-weight-semibold;
            margin-bottom: 1rem;
        }

        & .card-image {
            aspect-ratio: 13 / 12;
            @include flex();

            & .img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        & .card-text {
            font-weight: $font-weight-light;
            font-size: $font-size-sm;
            margin-top: 1rem;
        }

        @include media-breakpoint-up(xxl) {
            & .card-body {
                padding: 2rem 1.75rem;
            }
        }

        @include media-breakpoint-down(sm) {
            max-width: 17rem;
        }
    }
}
