.dropdown-menu {
    box-shadow: 0 .2rem .5rem rgba($black, .1);
}

.btn-close {
    background-size: 65%;
}

.form-agreement {
    text-align: center;
    font-size: .7rem;
    line-height: 1.4;
    margin-top: 1.25rem;

    & a {
        @extend .text-reset;
    }
}

.list-point {
    @extend .list-unstyled;

    & li {
        position: relative;
        line-height: 1.4;
        padding-left: 1.75rem;

        & ~ li {
            margin-top: .75rem;
        }

        &:before {
            content: '';
            @include point();
            position: absolute;
            top: .2em;
            left: 0;
        }
    }
}
