.dropdown-menu {
    box-shadow: 0 .2rem .5rem rgba($black, .1);
}

.btn-close {
    background-size: 65%;
}

.form-agreement {
    text-align: center;
    font-size: .7rem;
    line-height: 1.4;
    margin-top: 1.25rem;

    & a {
        @extend .text-reset
    }
}
