.dropdown-menu {
    box-shadow: 0 .2rem .5rem rgba($black, .1);
}

.btn-close {
    background-size: 65%;
}

.form-agreement {
    position: relative;
    text-align: left;
    font-size: $small-font-size;
    margin-top: 1.5rem;

    & a {
        @extend .text-reset;
    }
}

.error-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
    --bs-tooltip-font-size: .725rem;
    @extend .bs-tooltip-top;
    position: absolute;
    left: 0;
    bottom: 100%;
    margin-bottom: .25rem;
    transition: opacity .15s linear;
    opacity: 1;

    & .tooltip-arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.list-point {
    @extend .list-unstyled;

    & li {
        position: relative;
        line-height: 1.4;
        padding-left: 1.75rem;

        & ~ li {
            margin-top: .75rem;
        }

        &:before {
            content: '';
            @include point();
            position: absolute;
            top: .2em;
            left: 0;
        }
    }
}

.check-list {
    @extend .list-unstyled;

    & li {
        position: relative;
        line-height: 1.4;
        font-weight: $font-weight-light;
        padding-left: 2em;

        & ~ li {
            margin-top: .5rem;
        }

        &:before {
            content: '';
            display: block;
            width: 1.25em;
            height: 1.25em;
            @include mask(url(../img/check.svg));
            color: $secondary;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.list-item {
    display: flex;
    align-items: center;
    background-color: $gray-100;
    border-radius: $border-radius-sm;
    line-height: 1.4;
    padding: .75rem 1.25rem;

    & .svg-icon {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        align-self: flex-start;
        margin-right: 1rem;
    }
}

a.list-item {
    position: relative;
    color: $body-color;
    padding-right: 2rem;
    @extend .text-decoration-none;
    @include transition($btn-transition);

    &:after {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        @include mask(escape-svg($chevron-right));
        position: absolute;
        top: 50%;
        right: .5rem;
        transform: translateY(-50%);
    }

    &:hover {
        @include back-color();
    }
}

.image-caption {
    position: relative;
    padding-left: 1.25rem;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    margin-top: 1rem;

    &:before {
        content: '';
        display: block;
        border-style: solid;
        border-width: 10px 6px;
        border-color: transparent transparent $secondary transparent;
        position: absolute;
        left: 0;
        top: -5px;
    }
}

ul, ol {
    &.divided {
        & li {
            margin-bottom: .75rem;
        }
    }
}
