.form-control {
    &::placeholder {
        transition: all .25s ease;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}

.form-check-input {
    &[type=radio] {
        &:checked {
            background-color: $form-check-input-bg;
        }
    }
}
