.quiz {
    @extend .container;
    @extend %section-margin;

    & .section-body {
        position: relative;
        @extend .slim-body;
        border-radius: $border-radius;
        background-color: $white;
        @include padding-x(1.25rem);
        overflow: hidden;
    }

    & .section-row {
        @extend .row;
        align-items: center;
    }

    & .section-col {
        @extend .col-md-7;
        @extend .col-lg-6;
        @include padding-y(2.5rem, 2rem);
    }

    & .section-image {
        @extend .col-md-5;
        @extend .col-lg-6;
        align-self: flex-end;

        & img {
            display: block;
            @extend .mx-auto;
        }
    }

    &-title {
        color: $secondary;
    }

    &-text {
        font-weight: $font-weight-light;
        margin-bottom: 1.5rem;
    }

    & .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @extend .btn-dark;
        min-width: 18em;
    }

    @include media-breakpoint-up(sm) {
        & .section-body {
            @include padding-x(2rem);
        }
    }

    @include media-breakpoint-up(md) {
        & .section-body {
            @include padding-x(4rem);
            border-radius: $border-radius-lg;
        }

        & .section-col {
            @include padding-y(3rem);
        }
    }

    @include media-breakpoint-only(md) {
        & .section-image {
            & img {
                position: absolute;
                bottom: 0;
                left: 60%;
                height: 85%;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        & .section-body {
            @include padding-x(6rem);
        }

        & .section-col {
            @include padding-y(4rem);
        }

        &-title {
            font-size: $h1-font-size;
        }

        &-text {
            font-size: $btn-font-size-lg;
            margin-bottom: 2rem;
        }

        & .btn {
            padding: $btn-padding-y-lg $btn-padding-x-lg;
            font-size: $btn-font-size-lg;
        }
    }

    @include media-breakpoint-down(md) {
        & .section-col {
            text-align: center;
        }

        & .section-image {
            & img {
                width: 65%;
            }
        }
    }
}
