.ambassadors {
    @extend .container;
    @extend %section-margin;

    & .section-body {
        @extend .slim-body;
    }

    & .section-row {
        @extend .row;
        @extend .g-4;
        @extend .g-xl-5;
    }

    & .section-col {
        @extend .col-md-6;
        @extend .col-lg-4;
        display: flex;

        & > .ambassador-card {
            @extend .mx-auto;
            max-width: $card-max-width;

            & .card-footer {
                @include padding-y(0, 1rem);
            }
        }
    }
}

.ambassador-card {
    @extend .card;

    & .card-image {
        position: relative;
        aspect-ratio: 4 / 3;

        & img {
            @extend .card-img-top;
            @include img-cover(50% 20%);
            position: absolute;
            inset: 0;
        }
    }

    & .card-title {
        font-size: $h5-font-size;
        font-weight: $font-weight-semibold;
        margin-bottom: 0;
    }

    & .card-text {
        font-weight: $font-weight-light;
        margin-top: .5rem;
    }

    & .card-footer {
        display: flex;
        margin-top: auto;

        & .btn {
            flex-shrink: 0;
            @extend .btn-dark;
            @extend .btn-icon;
            font-size: .85rem;

            & ~ .btn {
                margin-left: .5rem;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        & .card-text {
            font-size: $font-size-sm;
        }

        & .card-title {
            font-size: $font-size-lg;
        }
    }
}

.ambassador-modal {
    & .modal-body {
        display: flex;
        @include padding-y(2.5rem);

        & .ambassador-image {
            flex: 0 0 auto;
            @extend .rounded;
            width: 20rem;
            max-width: 80%;
            margin-right: 2rem;

            & img {
                @extend .rounded;
            }
        }

        & .btn-close {
            position: absolute;
            font-size: 1.5rem;
            top: .5rem;
            right: .5rem;
        }
    }

    & .ambassador-card {
        --bs-card-bg: transparent;
        --bs-card-cap-bg: transparent;
        --bs-card-cap-padding-x: 0;

        & .card-text {
            padding-bottom: 1rem;
            border-bottom: 1px solid $gray-400;
            margin-bottom: 1.25rem;
        }

        & .card-footer {
            @include padding-y(.5rem, 0);
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: 980px;

        & .modal-body {
            padding: 3rem 2rem;
        }
    }

    @include media-breakpoint-down(lg) {
        & .modal-body {
            flex-direction: column;

            & .ambassador-image {
                border: 1px solid $gray-400;
                width: 16rem;
                padding: .5rem;
                margin: 0 auto 1.5rem;
            }
        }
    }
}
