.subscribe {
    @extend .container;
    @extend %section-margin;

    &__body {
        text-align: center;
        background-color: $white;
        padding: 2rem 1.25rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        max-width: 54rem;
        @extend .mx-auto;
    }

    &__form {
        width: 27rem;
        max-width: 100%;
        line-height: 1.4;
        @extend .mx-auto;
    }

    & .section-subtitle {
        max-width: 30em;
        @extend .mx-auto;
    }

    & .form-submit {
        margin-top: 1.5rem;

        & .btn {
            @extend .btn-dark;
            min-width: 14rem;
        }
    }

    & .form-footer {
        margin-top: 1.25rem;

        & a {
            @extend .text-decoration-none;
            font-weight: $font-weight-semibold;
        }
    }

    @include media-breakpoint-up(md) {
        &__body {
            padding: 3rem;
            border-radius: $border-radius-lg;
        }

        & .form-submit {
            margin-top: 2rem;
        }
    }

    @include media-breakpoint-up(xl) {
        &__body {
            @include padding-y(3.5rem);
        }
    }
}
