.page {
    &__content {
        @extend .container;
        @include padding-y(1.5rem);

        & .text-wrap {
            max-width: 50rem;
            @extend .mx-auto;
        }

        & .text-content {
            @extend .text-wrap;

            & h1 {
                @extend h3;
            }
        }
    }

    &__error {
        @extend .container;
        @include padding-y(2rem);
        @extend .my-auto;
    }

    &-header {
        text-align: center;
        margin-bottom: $headings-margin-bottom;
        @extend .mb-md-4;
        @extend .mb-lg-5;
        @extend .mb-xl-6;
    }

    &-title {
        margin-bottom: 0;

        & small {
            display: block;
            font-size: .6em;
            margin-top: .5rem;
        }
    }

    &-subtitle {
        font-weight: $font-weight-light;
        line-height: 1.4;
        margin-top: 1rem;
    }

    @include media-breakpoint-up(xl) {
        &__content,
        &__error {
            @include padding-y(3rem);
        }

        &-title {
            font-size: 2.75rem;
        }

        &-subtitle {
            font-size: $lead-font-size;
        }
    }

    @include media-breakpoint-down(sm) {
        &-subtitle {
            font-size: $font-size-sm;
        }
    }
}
