@charset "utf-8";

// include custom settings for whore website
@import "other/variables";
@import "other/fonts";
@import "other/mixins";

@import "bootstrap";
@import "swiper/css/bundle";
@import "other/placeholders";

// include settings for global layouts
@import "layout/body";
@import "layout/header";
@import "layout/footer";
@import "layout/page";
@import "layout/section";
@import "layout/modal";
@import "general/buttons";
@import "general/forms";
@import "general/elements";
@import "general/typography";
@import "general/card";
@import "general/swiper";
@import "general/blockquote";

// Include Core Theme Components
@import "components/social";
@import "components/cookies";
@import "components/feedback";
@import "components/home/intro";
@import "components/home/programs";
@import "components/home/team";
@import "components/home/education";
@import "components/home/carousel";
@import "components/home/feature";
@import "components/subscribe/subscribe";
@import "components/subscribe/benefits";
@import "components/qualification/qualification";
@import "components/qualification/checking";
@import "components/schedule";
@import "components/calendar";
@import "components/reviews";
@import "components/started";
@import "components/products";
@import "components/contacts";
@import "components/anyquestions";
@import "components/practices";
@import "components/research";
@import "components/ambassadors";
@import "components/books";
@import "components/swiper";
@import "components/program/intro";
@import "components/program/result";
@import "components/program/audience";
@import "components/program/objectives";
@import "components/program/content";
@import "components/program/compare";
@import "components/program/resources";
@import "components/program/prerequisites";
@import "components/program/system";
@import "components/program/starting";
@import "components/program/questions";
@import "components/program/teachers";
@import "components/program/about";
@import "components/mentor/intro";
@import "components/mentor/about";
@import "components/mentor/activity";
@import "components/mentor/practice";
@import "components/mentor/contacts";
@import "components/mentor/reviews";
@import "components/openendedness/intro";
@import "components/openendedness/whatis";
@import "components/openendedness/benefits";
@import "components/openendedness/components";
@import "components/openendedness/comparing";
@import "components/openendedness/apply";
@import "components/openendedness/courses";
@import "components/openendedness/resources";
@import "components/howtostart/intro";
@import "components/howtostart/step";
@import "components/howtostart/registration";
@import "components/howtostart/program";
@import "components/howtostart/format";
@import "components/howtostart/information";
@import "components/about/intro";
@import "components/about/whowe";
@import "components/about/purpose";
@import "components/about/programs";
@import "components/about/internships";
@import "components/about/place";
@import "components/about/environment";
@import "components/about/stability";
@import "components/about/features";
@import "components/about/contacts";
@import "components/offer/card";
@import "components/offer/participants";
@import "components/offer/programs";
@import "components/offer/contacts";
@import "components/yougetit/intro";
@import "components/yougetit/features";
@import "components/articles/articles";
@import "components/articles/article";
@import "components/articles/questions";
@import "components/articles/systemclub";
@import "components/articles/share";
@import "components/articles/collapse";
@import "components/quiz/quiz";
@import "components/quiz/invites";
@import "components/quiz/modal";
@import "components/quiz/question";
@import "components/quiz/aside";
@import "components/quiz/result";
@import "components/quiz/subscribe";
@import "components/quiz/error";
@import "components/search-select";
