.openendedness-benefits {
    @extend .container;
    @extend %section-padding;
    @extend %section-margin;

    & .section-row {
        @extend .row;
        @extend .g-3;
        @extend .g-xl-4;
        @extend .pt-xl-3;
    }

    & .section-col {
        @extend .col-md-6;
        @extend .col-lg-4;
        display: flex;
    }

    & .swiper-slide {
        display: flex;
    }

    & .benefits-card {
        @extend .card;
        border: 1px solid $gray-500;
        text-align: center;
        line-height: 1.4;
        user-select: none;
        @extend .mx-auto;

        & .card-body {
            display: flex;
            flex-direction: column;
        }

        & .card-title {
            font-weight: $font-weight-semibold;
            margin-top: 1rem;
        }

        & .card-image {
            position: relative;
            aspect-ratio: 7 / 3;
            @include flex();

            & img {
                position: absolute;
                @include img-cover();
                object-fit: contain;
            }
        }

        & .card-text {
            font-weight: $font-weight-light;
            font-size: $font-size-sm;
            max-width: 16rem;
            @extend .mx-auto;
        }

        @include media-breakpoint-up(xxl) {
            & .card-body {
                padding: 2rem 1.75rem;
            }
        }

        @include media-breakpoint-down(md) {
            & .card-body {
                @include padding-x(1.25rem);
            }
        }

        @include media-breakpoint-down(sm) {
            max-width: 22rem;
        }
    }

    & .benefits-footer {
        text-align: center;
        margin-top: 2.5rem;

        & .btn {
            min-width: 16rem;
            margin-bottom: 1rem;
            @extend .mx-1;

            &.btn-gift {
                @extend .btn-outline;
                display: inline-flex;
                align-items: flex-start;
                justify-content: center;

                & .svg-icon {
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-right: .5rem;
                }

                &:not(:hover) {
                    & .svg-icon {
                        color: $secondary;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: 3.5rem;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 4.5rem;
        }
    }
}
